body {
    font-family: sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

* {
    box-sizing: border-box;
}

header,
nav,
main,
aside,
footer {
    padding: 12px;
}

header {
    background-color: tomato;
    height: 60px;
}

.container {
    display: flex;
    flex: 1;
}

nav {
    background-color: coral;
    width: 100px;
}

main {
    background-color: moccasin;
    flex: 1;
}

aside {
    background-color: sandybrown;
    width: 100px;
}

footer {
    background-color: slategray;
    height: 100px;
}